.banniere{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
#collection{
    position: absolute;
    left: 130px;
    top: 140px;
    font-family: Didot;
    font-style: italic;
    font-weight: 500;
    font-size: 72px;
    line-height: 67px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
}

